.firecrackers{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}
.firecracker{
    width: 8%;
    animation: falling 3s linear infinite;
    position: absolute;
    left: 0;
    top: -30px;
}

@keyframes falling{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100vh);
    }
}

.firecracker:nth-child(1){
    left: 80%;
    animation-delay: 0s;
    animation-duration: 5s;
}
.firecracker:nth-child(2){
    left: 72%;
    animation-delay: 1s;
    animation-duration: 3s;
}
.firecracker:nth-child(3){
    left: 88%;
    animation-delay: 2s;
    animation-duration: 4s;
}
.firecracker:nth-child(4){
    left: 21%;
    animation-delay: 1s;
    animation-duration: 5s;
}
.firecracker:nth-child(5){
    left: 10%;
    animation-delay: 0s;
    animation-duration: 3s;
}
.firecracker:nth-child(6){
    left: 95%;
    animation-delay: 3s;
    animation-duration: 5s;
}
.firecracker:nth-child(7){
    left: 3%;
    animation-delay: 3s;
    animation-duration: 4s;
}